  <div class="top-heading">
    <%= image_tag "logo白.png", class:"top-logo-pict" %>
  </div>
<%= render "/layouts/header" %>
    <div class="col-12 text-center title">
      <h1>あなたのページ</h1>
    </div>
<div class='account-page' id='account-page'>
  <div class='account-page__inner clearfix'>
    <div class='account-page__inner--left account-page__header'>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'btn' %>
    </div>
    <div class='account-page__inner--right user-form'>
      <%= form_with model: current_user, local: true do |f|%>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :email, '↓メールアドレスを変える場合は、新しいアドレスを入力してください'%>
          </div>
          <div class='field-input'>
            <%= f.email_field :email%>
          </div>
        </div>
        <div class='actions'>
          <%= f.submit "アドレスを更新", class: 'btn'%>
        </div>
      <% end %>
    </div>
  </div>
</div>
