<!DOCTYPE html>
<html>
  <body>
      <div class="top-heading">
        <%= image_tag "logo.png", class:"top-logo-pict" %>
      </div>

    <%= render "/layouts/header" %>
    <div class ="zentai">

      <div class='table-style'>
          <span class="new-reserv-voyce">＼  新規予約入っています ご確認ください ! ／</span>
          <div class="box17">
            <% @new_reservations.each do |reservation| %>
              <div class="new-reserv-text">
                <span class="col-1"><%= link_to reservation.group_name, reservation %></span>
                <span class="col-2"><%= reservation.day.strftime("%Y年%m月%d日") %><%#= link_to "詳細", blog_path(reservation)%></span>
                <span class="col-3"><%= reservation.time.strftime("%H:%M〜") %><%#= link_to "詳細", blog_path(reservation)%></span>
              </div>
            <% end %>
          </div>
      </div>

      <br>

      <div class='calender-table-style'>
        <%= month_calendar events: @reservations do |date, reservations| %>
          <div class="text text03">
              <%= link_to oneday_reservation_path(date), class: "navbar-item" do %>
                  <%= date.day %>

                <% @reservations.each do |reservation| %>
                  <div>
                    <% if date == reservation.day %>
                      <%= link_to reservation.group_name, reservation %>
                    <% end %>
                  </div>
              <% end %>
              <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </body>


  <caption>本日の会場使用状況</caption>
  <div class="table-scroll">
    <table class="down-table" >
        <tr>
          <th>会場</th><th>時間</th><th>団体名</th><th>用途</th>
        </tr>
        <% @reservation.each do |reservation| %>
          <tr>
            <th><%= reservation.room.name %></th><td><%= reservation.time.strftime("%H:%M〜") %></td><td><%= reservation.group_name %></td><td><%= reservation.use %></td>
          </tr>
        <% end %>
      </table>
  </div>
</html>
