  <div class="top-heading">
    <%= image_tag "logo白.png", class:"top-logo-pict" %>
  </div>
  <%= render "/layouts/header" %>
  <div class="show-contents">
    <div class="col-12 text-center title">
      <h2><%= "#{@reservation.group_name} 様" %></h2>
    </div>
      <table class="detail-table">
        <tr>
          <th class="detail-reservation">日時</th>
          <td class="detail-value"><%= @reservation.day.strftime("%m月%d日　") %><%= @reservation.time.strftime("　%H:%M〜") %></td>
        </tr>
        <tr>
          <th class="detail-reservation">人数</th>
          <td class="detail-value"><%= @reservation.people_number %></td>
        </tr>
        <tr>
          <th class="detail-reservation">会場</th>
          <td class="detail-value"><%= @reservation.room.name %></td>
        </tr>
        <tr>
          <th class="detail-reservation">用途</th>
          <td class="detail-value"><%= @reservation.use %></td>
        </tr>
        <tr>
          <th class="detail-reservation">担当者</th>
          <td class="detail-value"><%= @reservation.manager %></td>
        </tr>
        <tr>
          <th class="detail-reservation">電話番号</th>
          <td class="detail-value"><%=@reservation.phone_number%></td>
        </tr>
      </table>
      <div class="detail-btn">
        <button type="button" class="btn">
          <%= link_to "#{@reservation.day.strftime("%m月%d日")}一覧に戻る", oneday_reservation_path(@reservation.day), class: 'btn btn-outline-secondary' %>
        </button>
        
        <button type="button" class="btn">
          <%= link_to "編集する", edit_reservation_path(@reservation), class: 'btn btn-outline-secondary' %>
        </button>

      </div>
  </div>

